
<html>
<head>
	<title>Index</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);
      var googleData = [];
      function drawSeriesChart() {
        var chartData = [];
        $(function(){
          $.ajax({
          url: '/sales',
          type: 'GET',
          success : function(data) {
            chartData = JSON.parse(data);
            console.log("Loaded Data");
            console.log(chartData);
            googleData.push([]);
            googleData[0] =['Publisher','Year','Global Sales', 'Genre','Share in NA Sales', 'Share in EU Sales', 'Share in JP Sales'];
           for (var i = 0; i < chartData.length; i++){
            var array = [];
           array.push(chartData[i].value["publisher"]);
            array.push(chartData[i]._id["year"]);
            array.push(chartData[i].value["global_sales"]);
             
            array.push(chartData[i]._id["genre"]);
            array.push(chartData[i].value["na_sales_share"]);
            array.push(chartData[i].value["eu_sales_share"]);
            array.push(chartData[i].value["jp_sales_share"]);
           
            
            googleData.push(array);
          }
          var data = google.visualization.arrayToDataTable(googleData);
          var options = {
            title: 'Games by Genre by Sales and by Publisher',
            hAxis: {title: 'Year'},
            vAxis: {title: 'Global Sales'},
            sizeAxis:1,
            bubble: {textStyle: {color:'none'}}
              }
          var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
                chart.draw(data, options);
              }

    
        
    });
    });
}

    
    </script>
  </head>
<body>
	
	<div id="series_chart_div" style="width: 100%; height: 100%;"></div>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>


	<script type="text/javascript">
		
		  
	</script>

</body>
</html>


